<?xml version="1.0" encoding="UTF-8"?>
<assembly>
  <id>drools-server</id>
  <formats>
    <format>war</format>
  </formats>
  
  <includeBaseDirectory>false</includeBaseDirectory>
  
  <fileSets>
     <fileSet>
        <directory>drools-server/target/drools-server</directory>
        <outputDirectory></outputDirectory>
        <includes>
           <include>**</include>
        </includes>    
     </fileSet>  
  </fileSets>

   
</assembly>
